<% completed, size=@area.completion %>
<% content_for :head do %>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing"></script>

    <%= javascript_include_tag "inheritance" %>
    <%= javascript_include_tag "abstract_micro_task" %>

    <style type="text/css">
        #map {
            width: 100%;
            height: 500px;
        }
    </style>
    <script type="text/javascript">
        // Global variables
        var map;
        $(function() {
            var scheduler_url = "<%= getjob_project_url(@project) %>";
            var micro_task = new MicroTask(scheduler_url);
            micro_task.request_task();
        });
    </script>
<% end %>

<div class="row">
  <div class="span9">
    <div id="map"></div>
  </div>
  <div class="span3">

    Task: <span id="task-id" class="label label-warning"><%= @task.id %></span>

    <hr/>
    <% if @editable %>
        <%= form_for [@project, @area, @task], :remote=>true, :html => {:id => "submit_task", 'data-type' => 'json'} do |f| %>
            <%= f.hidden_field :answer %>
            <%= raw RedCloth.new(@project.description).to_html %>
            <div class="form-actions">
              <a style="float:right;" id='skip_task' class="btn btn-mini" href="#">Skip task</a>
              <%= submit_tag "Submit", :class=>"btn btn-primary", :disable_with => "Saving..." %>
            </div>
        <% end %>


    <% else %>
        You have already contributed to this area.
        <a class="btn" href="<%= getjob_project_path(@project) %>?from_area=<%= @area.id %>">Skip Task</a>

    <% end %>
    <br/>
  </div>
</div>






