<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing"></script>

<script type="text/javascript">
    // Global variables
    var map;
    var marker_sw;
    var marker_ne;
    var current_rectangle;
    var G = google.maps;
    /**
     * Called on the initial page load.
     */
    function init() {

        $("#project_lat_res").change(compute_nb_tasks);
        $("#project_lng_res").change(compute_nb_tasks);
        $("#project_redundancy").change(compute_nb_tasks);

        $("#clean").click(function() {
            if (marker_sw != null) {
                marker_sw.setMap(null);
                marker_sw = null;
            }
            if (marker_ne != null) {
                marker_ne.setMap(null);
                marker_ne = null;
            }
        });

        map = new google.maps.Map(document.getElementById('map'), {
            'zoom': 3,
            'center': new google.maps.LatLng(70, 0),
            'mapTypeId': google.maps.MapTypeId.SATELLITE
        });


        var drawingManager = new G.drawing.DrawingManager({
            drawingMode: G.drawing.OverlayType.RECTANGLE,
            drawingControl: true,
            drawingControlOptions: {
                position: G.ControlPosition.TOP_CENTER,
                drawingModes: [
                    G.drawing.OverlayType.RECTANGLE
                ]
            },
            rectangleOptions: {
                zIndex: 1,
                strokeColor: "#FF0000",
                strokeOpacity: 0.8,
                fillColor: "#949494",
                fillOpacity: 0.1
            }
        });
        drawingManager.setMap(map);
        google.maps.event.addListener(drawingManager, 'rectanglecomplete', function(rectangle) {
            if (current_rectangle != null) {
                current_rectangle.setMap(null);
            }

            current_rectangle = rectangle;
            marker_ne = rectangle.getBounds().getNorthEast();
            marker_sw = rectangle.getBounds().getSouthWest();
            $("#project_lat_ne").val(marker_ne.lat());
            $("#project_lng_ne").val(marker_ne.lng());
            $("#project_lat_sw").val(marker_sw.lat());
            $("#project_lng_sw").val(marker_sw.lng());

            enable_task_info();
        });
    }

    function compute_nb_tasks() {
        $("#project_lat_res").val();

        //resolution in degree
        var res_lat = $("#project_lat_res").val() / 111.19;
        var res_lng = $("#project_lng_res").val() / 111.19;
        var nb_lat = Math.ceil((marker_ne.lat() - marker_sw.lat()) / res_lat);
        var nb_lng = Math.ceil((marker_ne.lng() - marker_sw.lng()) / res_lng);

        console.log(nb_lat + "," + nb_lng);

        var redundancy = Math.round($("#project_redundancy").val());
        var nb_tasks = nb_lat * nb_lng * redundancy;
        console.log(nb_tasks);

        $("#nb_tasks").html(nb_tasks);
    }

    function enable_task_info() {
        $("#task_info").show();
        $("#task_helper").hide();
        compute_nb_tasks();

    }
    function disable_task_info() {
        $("#task_info").hide();
        $("#task_helper").show();
        $("#submit").attr("disabled", "true");
    }

    // Register an event listener to fire when the page finishes loading.
    $(function() {
        init();
    });
</script>

<%= form_for(@project, :html=>{:class=>'form-vertical'}) do |f| %>
    <fieldset>
      <legend><%= controller.action_name.capitalize %> Project</legend>
      <div class="row">
        <% if @project.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
              <ul>
                <% @project.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="span3">


          <%= f.hidden_field :lat_sw %>
          <%= f.hidden_field :lng_sw %>
          <%= f.hidden_field :lat_ne %>
          <%= f.hidden_field :lng_ne %>

          <div class="control-group">
            <div class="control-label">Name of the project</div>
            <div class="controls"><%= f.text_field :name, :class=>"text-field" %></div>
          </div>

          <div class="control-group">
            <div class="control-label">Add your own map (optional)</div>
            <div class="controls"><%= f.text_field :wms_map, :class=>"text-field", :placeholder=>"URL of your WMS server" %>
              <br/>
              <button class="btn btn-small">refresh map <i class="icon-refresh"></i></button>
            </div>

          </div>
          <div class="alert alert-info" id='task_helper'>
            Draw a rectangle on the map to define the area to analyze
          </div>

          <div id="task_info" style="display:none">
            <div class="control-group">
              <div class="control-label">Area resolution per task (in Km)</div>
              <%= f.text_field :lat_res, :class=>"input-mini", :size=>"3", :maxlength=>"10", :placeholder=>"in km" %> x
              <%= f.text_field :lng_res, :class=>"input-mini", :size=>"3", :maxlength=>"10", :placeholder=>"in km" %>
            </div>

            <div class="control-group">
              <div class="control-label">Task redundancy</div>
              <div class="controls">
                <%= f.text_field :redundancy, :class=>"span1", :placeholder=>"3" %>
              </div>
            </div>
            <div><i class="icon-warning-sign"></i> Tasks generated:</div>
            <h3 id="nb_tasks" class=""></h3>
          </div>

        </div>

        <div class="span9">
          <div id="map" style="max-width:100%"></div>
        </div>

      </div>
      <div class="row">
        <div class="span12">

          <div class="control-group">
            <div class="control-label">
              Paste <a href="#">your MicroTask template code for each task</a>
            </div>
            <div class="controls">
              <%= f.text_area :description, :class=>"span12", :size => "50x5", :placeholder=>"Paste your micro-task template code" %>
            </div>
          </div>

          <div class="form-actions">
            <button class="btn btn-primary" disabled>Submit</button>
          </div>
        </div>
      </div>
    </fieldset>
<% end %>