<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>


<script type="text/javascript">
    // Global variables
    var map;
    var G = google.maps;

    function create_area(lat_sw, lng_sw, lat_ne, lng_ne, color, url) {


        var bounds = new google.maps.LatLngBounds(
                new G.LatLng(lat_sw, lng_sw),
                new G.LatLng(lat_ne, lng_ne));

        var rectangle = new google.maps.Rectangle({
            map: map,
            bounds: bounds,
            fillColor:color,
            fillOpacity:0.7,
            strokeWeight:1,
            strokeColor:"#000000",
            url:url
        });

        google.maps.event.addListener(rectangle, 'click', function() {
            //infowindow.open(map,rectangle);
            window.location.href = rectangle.url;
        });
    }

function add_tile(map, tile_url){

        var options = {
            getTileUrl: function(tile, zoom) {
                var ymax = 1 << zoom;
                var y = ymax - tile.y - 1;
                return tile + zoom + "/" + tile.x + "/" + y + ".jpg";
            },
            tileSize: new G.Size(256, 256),
            opacity:1.0,
            isPng: false,
            maxZoom: 20,
            name: "custom_layer"
        };

        // layers    
        map.mapTypes.set('custom_layer', new G.ImageMapType(options));
	map.setMapTypeId('custom_layer');
}
    /**
     * Called on the initial page load.
     */
    function init() {

        map = new google.maps.Map(document.getElementById('map'), {
            'zoom': 3,
            'center': new google.maps.LatLng(70, 0),
            'mapTypeId': google.maps.MapTypeId.SATELLITE
        });

	<% unless @project.wms_map.blank? %>
		add_tile(map, <%= @project.wms_map %>);
	<% end %>


        var bounds = new google.maps.LatLngBounds(
                new G.LatLng(<%= @project.lat_sw %>, <%= @project.lng_sw %>),
                new G.LatLng(<%= @project.lat_ne %>, <%= @project.lng_ne %>));

        map.fitBounds(bounds);

    <% @project.areas.each { |area|
        completed,size=area.completion
        completion=completed.to_f/size.to_f
        color=Color::HSL.new(completion*120,50,50).html
    %>

        create_area(<%= area.lat_sw %>, <%= area.lng_sw %>, <%= area.lat_ne %>, <%= area.lng_ne %>, "<%= color %>", "<%= gettask_project_area_path(area.project, area) %>");
    <%} %>


    }
    $(function() {
        init();
    });
    // Register an event listener to fire when the page finishes loading.
</script>

<div class="container">
  <div class="row">
    <div class="span3">
      <p id="notice"><%= notice %></p>

      <h2><%= @project.name %></h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in.</p>


      <% completed,size=@project.completion
      %>

      <div class="progress progress-info
     progress-striped">
        <div class="bar"
             style="width: <%= completed.to_f/size.to_f*100 %>%;"></div>

      </div>
        <button class="btn btn-primary btn-large" onclick="window.location.href='<%= start_project_path(@project) %>'" <%=    (@available_tasks)? "" : "disabled" %>>Start</button>
<br/></br>
	<h4>Open data: analyze yourself the data</h4>

	The raw data are regularily updated and published on the google fusion table service. You can analyze and aggregate them yourself.
<br/> <a href="#">>> Link to google spreadsheet</a>

	<h4>Result</h4>
		
      </p>
    </div>

    <div class="span9">
	Spatial completeness
      <div id="map"></div>
    </div>

  </div>
</div>
