  <li class="dropdown">
    <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><%= @app.name[0..20] %> <b class="caret"></b></a>
     <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
      <li><a  href="/apps/new?copyof=<%= @app.id %>"><b class="icon-random"></b> Clone </a></li>
      <li><a tabindex="-1" href="#"><b class="icon-share"></b> Embed / Share </a></li>
      <li><a tabindex="-1" href="#"><b class="icon-share"></b> Stats </a></li>
      <li class="divider"></li>
      <li>
        <a href="<%= source_app_url(@app) %>"><b class="icon-file"></b> Source code </a>
      </li>
      <li class="divider"></li>
      <li>
        <a  target="_blank" href="<%= @app.challenges_table_url %>"><b class="icon-hdd"></b>Challenges Data  </a>
      </li>
      <li>
        <a target="_blank" href="<%= @app.answers_table_url %>"><b class="icon-hdd"></b>  Answers Data </a>
      </li>
      <% if @owner %>
      <li class="divider"></li>
      <li>
        <a href="<%= edit_app_url(@app) %>"> <b class="icon-wrench"></b>Admin </a>
      </li>
      <% end %>
     </ul>
   </li>