<% if @app.errors.any? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">×</a>
      <h4 class="alert-heading"><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h4>
      <ul>
        <% @app.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="row">
  <div class="span12">
    <%= form_for(@app, :html=>{:class=>'form-horizontal', }) do |f| %>
        <input type="hidden" name="schema" id="app_schema" value=""/>
        <fieldset>
          <legend><%= controller.action_name.capitalize %> Project</legend>
          <div class="control-group">
            <label class="control-label"><h3>Project Name</h3></label>

            <div class="controls">
              <%= f.text_field :name, :placeholder=>"name of the app", :class=>"text-field span4" %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"><h3>Description</h3></label>

            <div class="controls">
              <%= f.text_area :description, :rows => 5, :placeholder=>"short description of the crowdsourcing project", :class=>"text-field span4" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">
              <h3>Input Tasks </h3></label>

            <div class="controls">
              <p class="help-block">
                Enter the ID of a
                <a href="http://www.google.com/fusiontables/public/tour/index.html">google fusion table</a> containing
                the
                tasks to index. <br/>You can generate this table yourself. <br/>We also propose you a set of generators
                e.g. <a href="/demo_generator"><b>a crowdmapping task generator</b></a></p>

              <%= f.text_field :input_ft, :placeholder=>"e.g. 1It3U5IJCOlk3MVyNUygG7NOWvLeNj8eWbIIYLGo", :disabled=>@disable_ft,:class=>"text-field span4" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label"><h3>Redundancy</h3></label>

            <div class="controls">
              <p class="help-block">How many volunteers should do the same task?</p>
              <%= text_field_tag "app_redundancy", "3", :disabled=>@disable_redundancy, :class=>"span1", :placeholder=>"3" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label"><h3>UI Task template code</h3>
            </label>

            <div class="controls">
              <p class="help-block">Paste your micro-task template here (
                <strong><a href="https://gist.github.com/2029050">example</a></strong>)</p>

              <div id='script_error' class="alert hide">
                <a class="close" data-dismiss="alert" href="#">×</a>

                <div id='script_error_text'></div>
              </div>

              <%= f.text_area :script, :class=>"span10", :size => "50x15", :placeholder=>"" %>

            </div>
          </div>


          <div class="row">
            <div class="span12">
              <div class="form-actions">
                <button class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </fieldset>
    <% end %>

    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>


    <script type="text/javascript">
        // Global variables

        function evaluate_script() {

            $("#script_error").removeClass("label-success");
            $("#script_error").removeClass("label-error");


            var script = $("#app_script").val();
            var schema = script.match(/<!--( )*schema=(.*)-->/);
            if (schema != null) {
                try {
                    schema = eval(schema[2]);
                } catch(err) {
                    $("#script_error_text").html("Parsing error. Schema required ");
                    $("#script_error").addClass("alert-error");
                    $("#script_error").show();
                    return false;
                }
            }

            $("#script_error_text").html("Schema detected.");
            $("#script_error").addClass("alert-success");
            $("#script_error").show();

            $("#app_schema").val(JSON.stringify(schema));

            return true;
        }


        // Register an event listener to fire when the page finishes loading.
        $(function() {
            $("#new_app").submit(function() {
                return (evaluate_script());
            });
        });
    </script>


  </div>
</div>