<style type="text/css" media="screen">


    #editor {
        position: relative;
        height: 500px;
        width: 100%;
    }
</style>


<% if @app.errors.any? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">×</a>
      <h4 class="alert-heading"><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h4>
      <ul>
        <% @app.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="row">
  <div class="span12">
    <%= form_for(@app, :html => {:class => 'form-horizontal', :id => "form_app"}) do |f| %>
        <input type="hidden" name="schema" id="app_schema" value=""/>
        <fieldset>
          <legend><%= controller.action_name.capitalize %> App</legend>
          <div class="control-group">
            <label class="control-label"><h3>Name</h3></label>

            <div class="controls">
              <%= f.text_field :name, :placeholder => "name of the app", :class => "text-field span4" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label"><h3>Iframe size </h3></label>

            <div class="controls">
              Width= <%= f.text_field :iframe_width, :placeholder => "100%", :class => "text-field span1", :default => "100%" %>
              x
              Height= <%= f.text_field :iframe_height, :placeholder => "100%", :class => "text-field span1", :default => "100%" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label"><h3>Description</h3></label>

            <div class="controls">
              <%= f.text_area :description, :rows => 5, :placeholder => "short description of the crowdsourcing project", :class => "text-field span4" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">
              <h3>Tasks to process </h3></label>

            <div class="controls">
              <p class="help-block">
                Crypted ID of a
                <a href="http://www.google.com/fusiontables/public/tour/index.html">google fusion table</a> containing
                the list of
                tasks.<!-- <br/>This table should have at least a column <i>task_id</i> containing the ID of the task .
                <br/>
                <small> (for GIS tasks, check
                  <a href="/demo_generator">this crowdmapping task generator</a> to generate a Google fusion table)
                </small>
                )
              </p>        -->
                <br/> <%= f.text_field :input_ft, :placeholder => "encrypted ID of the GF table  e.g. 1It3U5IJCOlk3MVyNUygG7NOWvLeNj8eWbIIYLGo", :class => "text-field span4" %>
              <% unless @app.input_ft.blank? %>
                  <%= link_to  "reindex tasks", reindex_app_url(@app), :class => "btn" %>
              <% end %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">
              <h3>Answers</h3>
            </label>

            <div class="controls">
              <p class="help-block">
                The google fusion table storing the answers
               <br/> <%= f.text_field :output_ft, :placeholder => "encrypted ID of the GF table e.g. 1It3U5IJCOlk3MVyNUygG7NOWvLeNj8eWbIIYLGo", :class => "text-field span4" %>

            </div>
          </div>

          <div class="control-group">
            <label class="control-label"><h3>Quality</h3></label>

            <div class="controls">
              <p class="help-block">How many volunteers should do the same task?</p>
              <%= f.text_field :redundancy, :placeholder => "", :disabled => @disable_ft, :class => "text-field span1" %>
            </div>
          </div>

          <div class="row">
            <div class="span12">
              <div class="form-actions">
                <button class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </fieldset>
    <% end %>

    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="/assets/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/ace/theme-cobalt.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/ace/theme-chrome.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/ace/mode-html.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        // Global variables
        var editor;

        function evaluate_script() {
            var text = editor.getSession().getValue()
            console.log(text);
            $("#app_script").val(text);

            $("#script_error").removeClass("label-success");
            $("#script_error").removeClass("label-error");


            var script = $("#app_script").val();
            var schema = script.match(/<!--( )*schema=(.*)-->/);
            if (schema != null) {
                try {
                    schema = eval(schema[2]);
                } catch (err) {
                    $("#script_error_text").html("Parsing error. Schema required ");
                    $("#script_error").addClass("alert-error");
                    $("#script_error").show();
                    return false;
                }
            }

            $("#script_error_text").html("Schema detected.");
            $("#script_error").addClass("alert-success");
            $("#script_error").show();

            $("#app_schema").val(JSON.stringify(schema));

            return true;
        }


        // Register an event listener to fire when the page finishes loading.
        $(function () {
            $("#form_app").submit(function () {
                return (evaluate_script());
            });
            editor = ace.edit("editor");
            editor.setTheme("ace/theme/chrome");
            var mode = require("ace/mode/html").Mode;
            editor.getSession().setMode(new mode());
        });
    </script>


  </div>
</div>