<%
@edit = (controller.action_name == 'new')? false : true
%>

<% script = capture do %>
  <%= javascript_include_tag "app_edit" %>
<% end %>
<% content_for :script, script %>

<%= form_for(@app, :html => {:class => 'form-horizontal', :id => "form_app"}) do |f| %>

<% if @app.errors.any? %>
  <!-- error module -->
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert">×</a>
        <h4 class="alert-heading">
          <%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:
        </h4>
        <ul>
        <% @app.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <div/>
  </div>
<% end %>

  <input type="hidden" name="schema" id="app_schema" value="<%= @schema %>"/>
        <%= f.hidden_field :script %>
        <fieldset>

          <div class="control-group">
            <label class="control-label">Name *</label>
            <div class="controls">
            <%= f.text_field :name, :placeholder => "name of the app", :class => "text-field span4" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Description (in HTML)</label>
            <div class="controls">
            <%= f.text_area :description, :rows => 5, :placeholder => "Short description  for the microapp.io repository", :class => "text-field span4" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Image url</label>
            <div class="controls">
            <%= f.text_field :image_url, :placeholder => "image url", :class => "text-field span4" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Size of the web widget </label>
            <div class="controls">
            Width = <%= f.text_field :iframe_width, :placeholder => "100%", :class => "text-field span1", :default => "100%" %>
            x Height = <%= f.text_field :iframe_height, :placeholder => "100%", :class => "text-field span1", :default => "100%" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Challenges data URL</label>
            <div class="controls">
              <div class="input-append">
                <%= f.text_field :input_ft, :placeholder => "URL of a google fusion table" %>
                <button id="create_tasks" data-disable-with="Creating table..." class="btn btn-primary">Create a GF table</button>
                <% if @edit %>
                <a href="reindex" class="btn"/>reindexing</a>
                <% end %>
              </div>
              <div id="link_tasks" ></div>
              <img src="#" style="display:none" id="table_state"/>

              <div id="task_column" class="hide">
                <p class="help-block">
                Enter the name of the column representing the task ID
                </p>
                <%= f.select :task_column, :class => "text-field span1" %>
              </div>
             </div>
            </div>
            <div class="control-group">
              <label class="control-label">Answers data URL</label>
              <div class="controls">
                <div class="input-append">
                    <%= f.text_field :output_ft, :placeholder => "URL of a google fusion table" %><button id="create_answers" data-disable-with="Creating table..." class="btn btn-primary">Create a GF table</button>
                </div>
               <div id="link_answers"></div>
             </div>
          </div>

          <div class="control-group">
            <label class="control-label">Organisation Strategy</label>
            <div class="controls">
              How many users should try to solve each challenge? <br/>( -1 for unlimited allocation) <br/>
              <%= text_field_tag "app_redundancy", "-1", :disabled => @disable_redundancy, :class => "span1", :placeholder => "3" %>
            </div>


          </div>

          <div class="control-group hide" >
          <label class="control-label">Source Code</label>
           <div class="controls">
              <p class="help-block">
                Enter the URL of the Gist Github with the task template.
                <%= f.text_field :gist_id, :placeholder => "https://gist.github.com/3028982", :class => "text-field span3" %>
            </div>
          </div>
        </fieldset>
    <% end %>
    <div class="form-actions">
      <a class="btn btn-primary btn-large" id="save" style="margin:0 auto">Create & Start coding online</a>
  </div>
  <div class="span5">
    <%= render 'tutorial' %>
  </div>
</div>
</div>