<% if @app.errors.any? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">×</a>
      <h4 class="alert-heading"><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h4>
      <ul>
        <% @app.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="row">
  <div class="span7">
    <%= form_for(@app, :html => {:class => 'form-horizontal', :id => "form_app"}) do |f| %>
<legend>New App </legend>
        <input type="hidden" name="schema" id="app_schema" value="<%= @schema %>"/>
        <%= f.hidden_field :script %>
        <fieldset>
          <div class="control-group">
            <label class="control-label">Name *</label>
            <div class="controls">
              <%= f.text_field :name, :placeholder => "name of the app", :class => "text-field span4" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Description (in HTML)</label>
            <div class="controls">
              <%= f.text_area :description, :rows => 5, :placeholder => "Short description  for the microapp.io repository", :class => "text-field span4" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Image url</label>
            <div class="controls">
              <%= f.text_field :image_url, :placeholder => "image url", :class => "text-field span4" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Size of the web widget </label>
            <div class="controls">
              Width = <%= f.text_field :iframe_width, :placeholder => "100%", :class => "text-field span1", :default => "100%" %>
              x
              Height = <%= f.text_field :iframe_height, :placeholder => "100%", :class => "text-field span1", :default => "100%" %>
            </div>
          </div>
          <div class="control-group">

            <label class="control-label">Data Management </label>
            <div class="controls">
              <p class="help-block">
                 URL of the Google fusion table to retrieve <b>challenge-related data</b>:
                <br/><small style="font-size:10px">e.g. https://www.google.com/fusiontables/DataSource?docid=1pFY66e2r3ZMrimRuftMs4j-fvwvCOdKGSaHOmuA</small><!--(<a href="https://www.google.com/fusiontables/DataSource?dsrcid=implicit" target="_blank" >Create a table from your data </a> + change <a href="http://support.google.com/fusiontables/bin/answer.py?hl=en&answer=171221" target="_blank">its accessibility </a> to public)--> </p>
              <div class="input-append">
                 <%= f.text_field :input_ft, :placeholder => "https://www.google.com/fusiontables/DataSource?docid=1pFY66e2r3ZMrimRuftMs4j-fvwvCOdKGSaHOmuA", :class => "text-field span3" %>
                <button id="create_tasks" data-disable-with="Creating table..." class="btn btn-primary">Create basic  table</button>
>
                <% if @edit %>
                  <a href="reindex" class="btn"/>reindexing</a>
                <% end %>
              </div>
              <div id="link_tasks"></div>
             
              <img src="http://www.inishtech.com/App_Themes/Default/Images/CMSModules/Forums/LiveImages/AcceptedSolution.gif" style="display:none" id="task_ft_accepted"/>
              <img src="http://www.finta.pl/content/ico-false.png" style="display:none" id="task_ft_rejected"/>

              <div id="task_column" class="hide">
                <p class="help-block">
                Enter the name of the column representing the task ID
                </p>
                <%= f.select :task_column, :class => "text-field span1" %>
              </div>
             </div> 
             <div class="controls">
              <p class="help-block">
                URL of the Google fusion table to store <b>answers</b>:
                <br/><small style="font-size:10px">https://www.google.com/fusiontables/DataSource?docid=1pFY66e2r3ZMrimRuftMs4j-fvwvCOdKGSaHOmuA</small>  </p>
                <div class="input-append">
                    <%= f.text_field :output_ft, :placeholder => "https://www.google.com/fusiontables/DataSource?docid=1pFY66e2r3ZMrimRuftMs4j-fvwvCOdKGSaHOmuA", :class => "text-field span3" %><button id="create_answers" data-disable-with="Creating table..." class="btn btn-primary">Create basic table</button>
                </div>
               <div id="link_answers"></div>
             </div>
          </div>
      
          <div class="control-group">
            <label class="control-label">Basic Management of Contributors </label>
            <div class="controls">
              How many users should try to solve each challenge? <br/>( -1 for unlimited allocation) <br/>
              <%= text_field_tag "app_redundancy", "-1", :disabled => @disable_redundancy, :class => "span1", :placeholder => "3" %>
            </div>


          </div>

          <div class="control-group hide" >
          <label class="control-label">Source Code</label>
           <div class="controls">
              <p class="help-block">
                Enter the URL of the Gist Github with the task template. 
                <%= f.text_field :gist_id, :placeholder => "https://gist.github.com/3028982", :class => "text-field span3" %>
            </div>
          </div>
        </fieldset>
    <% end %>
<div style="text-align:center">
    <a class="btn btn-primary btn-large" id="save" style="margin:0 auto">Create & Start coding online</a>
</div>

  </div>
  <div class="span5">
    <%= render 'tutorial.html' %>
  </div>
</div>

<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
<script type="text/javascript">
    
    function url_google(ft_table) {
      var key = 'AIzaSyDaD2I-HSjUXgmQr9uOvF5-wZTwgfLgW-Q';
      var sqlquery = "DESCRIBE " + ft_table;
      return 'https://www.googleapis.com/fusiontables/v1/query?sql=' + encodeURI(sqlquery) + "&key=" + key;
    }

    function load_schema(url,callback_fct) {
        var columns=[];
        $.ajax({url:url,
          success: function (data) {
            console.log(data);
             $.each(data.rows, function (i, row) {
                columns.push(row[1]);
            });
            $("#task_ft_rejected").hide();
            $("#task_ft_accepted").show();
            callback_fct(columns);
          },
          error: function(data){
            $("#task_ft_rejected").show();
            $("#task_ft_accepted").hide();
            $("#task_column").hide();
          }});
    }
    
    function retrieve_columns_names(){
      var ft_table=$('#app_input_ft').val().replace("https://www.google.com/fusiontables/DataSource?docid=","");
          load_schema(url_google(ft_table),function(columns){
            select=$("#app_task_column");
            select.html("");
            options="";
            for (var i=0; i<columns.length;i++){
              options+="<option value='"+columns[i]+"'>"+columns[i]+"</option>";
            }
            select.append(options)
            $("#task_column").show();
          });
    }

    $(function () {
        var GF_TABLE_BASE_URL = "https://www.google.com/fusiontables/DataSource?docid=";
        
        $('a[rel=popover]').popover({
            placement:'right',
            offset:5,
            html:true
        });
        
        $('#create_tasks').click(function(event){
          $('#create_tasks').attr("disabled",true);
          $('#create_tasks').html("Creating table...");
          $.getJSON("/apps/create_tasks_table.json",function(data){
            $('#app_input_ft').val(GF_TABLE_BASE_URL+data.ft_table_id);
            $('#create_tasks').hide();
            retrieve_columns_names();
            link = $("<a href='"+GF_TABLE_BASE_URL+data.ft_table_id+"' target='_blank' >see/modify the table</a>");
            $('#link_tasks').append(link);
           });
        });

        $('#create_answers').click(function(event){
          $('#create_answers').attr("disabled",true);
          $('#create_answers').html("Creating table...");
          $.getJSON("/apps/create_answers_table.json",function(data){
            $('#app_output_ft').val(GF_TABLE_BASE_URL+data.ft_table_id);
            $('#create_answers').hide();
            link = $("<a href='"+GF_TABLE_BASE_URL+data.ft_table_id+"' target='_blank'>see/modify the table</a>");
            $('#link_answers').append(link);
          });
          return false;
        });

        $('#app_input_ft').change(function(){
          console.log("input");
           retrieve_columns_names();
        });

        if ($('#app_input_ft').val()!=""){
          retrieve_columns_names();
        }

        $("#save").click(function(){
            $("#form_app").submit();
        });

    });
</script>