<link type="text/css" href="/assets/jquery-ui-1.8.16.custom.css"/>
<link type="text/css" href="/assets/bootstrap.css"/>

<div class="container">
<h1> Apps </h1>

  <% @apps.each do |app|
    completed, size=app.completion
    u=app.user
  %>
      <hr/>
      <div class="row">
        <div class="span3">
           <h3><%= link_to app.name, app_path(app) %>
            <% unless u.nil? %>
            <% end %> </h3>
          <p><small> created <%= time_ago_in_words(app.created_at) %> ago</small></p>
          <!--<p> <%=  RedCloth.new(app.description).to_html.html_safe %> </p> -->
         
          <img src="http://api.qrserver.com/v1/create-qr-code/?size=145x145&data=<%= app_url(app, :embeddable=>1) %>"  />
          <div class="progress progress-info  progress-striped" style="height:10px;">
            <div class="bar" style="width:<%= (completed.to_f/size.to_f)*100  %>%;"></div>
          </div>
        </div>
        <div class="span6" style="height:200px">
             <%=  app.description.html_safe %> 
       
          
          </div>
        <div class="span2" style="text-align: center">
          <% if app.user == current_user %>
              <%= link_to "Source code", editor_app_path(app), :class => "btn btn-success btn-small" %>
          <% end %>
        </div>
      </div>
  <% end %>

</div>

<script type="text/javascript" src="/assets/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript">
    $(function () {

        $('#slider').slider({
            range:true,
            values:[17, 67]
        });
    });
</script>