<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Projects</h1>
      <ul class="thumbnails">

        <% @apps.each do |app|
            completed,size=app.completion

            u=app.user
        %>
            <li class="span3">
              <div class="thumbnail">
                <h3><%= app.name %></h3>
                <% unless u.nil? %>
                    <p>
                      <small> Created
                        by  <%= gravatar_image_tag(u.email, :title => u.username, :gravatar => {:default=> :identicon, :size => 20}) %> </small>
                    </p>
                <% end %>
                <p>
                  <%= app.description %></p>

                <div class="progress progress-info  progress-striped">
                  <div class="bar" style="width:<%= (completed.to_f/size.to_f)*100  %>%;"></div>
                </div>

                <center><%= link_to "Participate", app_path(app), :class=>"btn btn-primary" %></center>
                <!--
                <hr/>
                <p>
                  <small>admin:
                    <% if current_or_guest_user==app.user %>
                        <%= link_to 'Delete', app, confirm: 'Are you sure?', method: :delete, :class=>"btn btn-mini btn-danger" %>
                        <%= link_to 'Modify', edit_app_path(app), :class=>"btn btn-mini btn-primary" %>
                    <% else %>
                        <button class="btn btn-mini disabled">Delete</button>
                        <button class="btn btn-mini disabled">Modify</button>
                    <% end %>
                  </small>
                </p>
                -->
              </div>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
