<% app_header = capture do %>
<ul class="nav">
  <li class="active"> <a href="/apps">Explore apps</a></li>
  <li ><a href="/apps/new">Create an app</a></li>
</ul>
<% end %>
<% content_for :menu_header, app_header %>

<div class="container">
  <div class="page-header">
    <h1>Explore Crowdsourcing Apps</h1>
  </div>
  <ul class="thumbnails">
  <%
  @apps.each do |app|
    #completed, size= @app.completion
@app = app
  %>


              <li class="span4">
                <div class="thumbnail">
                   <img src="<%= @app.image_url %>" style="height:145px;margin:5px"/>
                  <div class="caption">
                    <h3><%= app.name %> <small> created <%= time_ago_in_words(app.created_at) %> ago</small></h3>
                    <p><%=  app.description.html_safe %></p>
                    <p>
                       <div class="dropdown" style="float:right">
                        <a id="drop1" href="#" role="button" class="btn dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
     <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
      <li><a  href="/apps/new?copyof=<%= @app.id %>"><b class="icon-random"></b> Clone </a></li>
      <li><a tabindex="-1" href="#"><b class="icon-share"></b> Embed / Share </a></li>
      <li><a tabindex="-1" href="#"><b class="icon-share"></b> Stats </a></li>
      <li class="divider"></li>
      <li>
        <a href="<%= source_app_url(@app) %>"><b class="icon-file"></b> Source code </a>
      </li>
      <li class="divider"></li>
      <li>
        <a  target="_blank" href="<%= @app.challenges_table_url %>"><b class="icon-hdd"></b>Challenges Data  </a>
      </li>
      <li>
        <a target="_blank" href="<%= @app.answers_table_url %>"><b class="icon-hdd"></b>  Answers Data </a>
      </li></ul></div><a href="<%= app_url(app) %>" class="btn btn-primary">Start</a></p>
                  </div>
                </div>
              </li>

  <% end %>
           </ul>

</div>