<%= form_for(@app, :html=>{:class=>'form-vertical', }) do |f| %>
    <input type="hidden" name="schema" id="app_schema" value=""/>
    <fieldset>
      <h3><%= controller.action_name.capitalize %>
        Project: <%= f.text_field :name, :placeholder=>"name of the app", :class=>"text-field" %></h3>

      <div class="row">
        <% if @app.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>
              <ul>
                <% @app.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
      </div>
      <hr/>


      <div class="row">
        <div class="span3">
          <div class="control-group">
            <h3>Input: micro-tasks </h3>

            <p>Enter the ID of a
              <a href="http://www.google.com/fusiontables/public/tour/index.html">google fusion table</a> containing the
              tasks to index. </p>

            <p><span class="label label-info">note</span> You can generate this table yourself or we propose you
              <a href="/demo_generator"><b>a crowdmapping task generator</b></a>
            </p>

            <div class="controls">
              <%= f.text_field :input_ft, :placeholder=>"e.g. 1It3U5IJCOlk3MVyNUygG7NOWvLeNj8eWbIIYLGo", :class=>"text-field" %>
            </div>
          </div>

          <div class="control-group">
            <h3>Redundancy</h3>

            <div class="controls">
              <%= text_field_tag "app_redundancy", "3", :class=>"span1", :placeholder=>"3" %>
            </div>
          </div>

        </div>
        <div class="span9">
          <h3>UI Task template</h3>

          <div id='script_error' class="alert hide">
            <a class="close" data-dismiss="alert" href="#">×</a>

            <div id='script_error_text'>Coco</div>
          </div>
          <div class="control-group">
            <div class="control-label">
              Paste your microtask script (<a href="https://gist.github.com/2029050">example</a>)
            </div>
            <div class="controls">
              <%= f.text_area :script, :class=>"span9", :size => "50x15", :placeholder=>"Paste your micro-task template here" %>
            </div>
            <button class="btn" id="check_script">Check</button>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="span12">
          <div class="form-actions">
            <button class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </fieldset>
<% end %>

<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>


<script type="text/javascript">
    // Global variables

    function evaluate_script() {

        var script = $("#app_script").val();
        var schema = script.match(/<!--( )*schema=(.*)/);
        if (schema!=null){
            schema=eval(schema[2]);
        }

        $("#script_error").removeClass("label-success");
        $("#script_error").removeClass("label-error");

        if ((typeof(schema) == 'undefined') || (schema==null)) {
            $("#script_error_text").html("Parsing error. Table schema required (Method schema)");
            $("#script_error").addClass("alert-error");
            $("#script_error").show();
            return;
        } else {
            $("#script_error_text").html("Schema detected to generate the output fusion table.");
            $("#script_error").addClass("alert-success");
            $("#script_error").show();
        }
        $("#app_schema").val(JSON.stringify(schema));
    }


    // Register an event listener to fire when the page finishes loading.
    $(function() {
        $("#check_script").click(function(event) {
            event.preventDefault();
            evaluate_script();
        });
    });
</script>