<% if @app.errors.any? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">×</a>
      <h4 class="alert-heading"><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h4>
      <ul>
        <% @app.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="row">
  <div class="span12">
    <%= form_for(@app, :html => {:class => 'form-horizontal', :id => "form_app"}) do |f| %>
        <input type="hidden" name="schema" id="app_schema" value="<%= @schema %>"/>
        <%= f.hidden_field :script %>
        <fieldset>
          <legend><%= controller.action_name.capitalize %> Micro-app <small>(* = required field)</small></legend>
          <div class="control-group">
            <label class="control-label"><h3>Name *</h3></label>

            <div class="controls">
              <%= f.text_field :name, :placeholder => "name of the app", :class => "text-field span4" %>
            </div>
          </div>


          <div class="control-group">
            <label class="control-label"><h3>Description</h3></label>

            <div class="controls">
              <%= f.text_area :description, :rows => 5, :placeholder => "short description (in html)", :class => "text-field span4" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label"><h3>Embedded iframe</h3></label>

            <div class="controls">
              Width= <%= f.text_field :iframe_width, :placeholder => "100%", :class => "text-field span1", :default=>"100%" %>
              <br/>Height= <%= f.text_field :iframe_height, :placeholder => "100%", :class => "text-field span1", :default=>"100%" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">
              <h3><a style="float:left" href="#" class="icon-question-sign" rel="popover" data-content='Enter the crypted ID of a
                <a href="http://www.google.com/fusiontables/public/tour/index.html">google fusion table</a> containing
                the list of
                tasks to index by MechanicalTask. <br/>This table should have at least a column <i>task_id</i> containing the ID of the
                task (= each row is a task).' data-original-title="Info">
              </a>Tasks <br/>(Input) *</h3></label>

            <div class="controls">
              <p class="help-block">
                Enter the crypted ID of a
                <a href="http://www.google.com/fusiontables/public/tour/index.html">Google Fusion table</a> containing
                your list of
                tasks to index. <br/>
              </p>

              <%= f.text_field :input_ft, :placeholder => "e.g. 1It3U5IJCOlk3MVyNUygG7NOWvLeNj8eWbIIYLGo", :class => "text-field span4" %>

            </div>
          </div>
          <div class="control-group">
            <label class="control-label">
              <h3><a style="float:left" href="#" class="icon-question-sign" rel="popover" data-content='Enter the crypted ID of a
                <a href="http://www.google.com/fusiontables/public/tour/index.html">google fusion table</a> to store the
                answers (Its structure should have at least these columns: task_id:number , user_id:string,
                created_id:date). If you let a blank we geneate a basic table for you that you have to customized afterward.' data-original-title="Info">
              </a>Answers (output) </h3></label>

            <div class="controls">
              <p class="help-block">
                Enter the crypted ID of a
                <a href="http://www.google.com/fusiontables/public/tour/index.html">Google Fusion table</a> to store the
                answers. <br/>Let it blank to generate automatically a basic one you can modify later.<br/>

                <%= f.text_field :output_ft, :placeholder => "e.g. 1It3U5IJCOlk3MVyNUygG7NOWvLeNj8eWbIIYLGo", :class => "text-field span4" %>





                <p class="help-block">how many users should do the same task?</p>
                <%= text_field_tag "app_redundancy", "3", :disabled => @disable_redundancy, :class => "span1", :placeholder => "3" %>
              </div>


          </div>


          <div class="row">
            <div class="span12">
              <div class="form-actions">
                <button class="btn btn-primary">Go to step 2 (Add a UI Code)</button>
              </div>
            </div>
          </div>
        </fieldset>
    <% end %>


  </div>
</div>

<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
<script type="text/javascript">
    $(function () {

        $('a[rel=popover]').popover({
            placement:'right',
            offset:5,
            html:true
        })
    });
</script>

