<% if @app.errors.any? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">×</a>
      <h4 class="alert-heading"><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h4>
      <ul>
        <% @app.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="row">
  <div class="span12">
    <%= form_for(@app, :html => {:class => 'form-horizontal', :id => "form_app"}) do |f| %>
        <input type="hidden" name="schema" id="app_schema" value="<%= @schema %>"/>
        <%= f.hidden_field :script %>
        <fieldset>
          <legend><%= controller.action_name.capitalize %> Micro-app
            <small>(* = required field)</small>
          </legend>
          <div class="control-group">
            <label class="control-label"><h3>Name *</h3></label>

            <div class="controls">
              <%= f.text_field :name, :placeholder => "name of the app", :class => "text-field span4" %>
            </div>
          </div>


          <div class="control-group">
            <label class="control-label"><h3>Description</h3></label>

            <div class="controls">
              <%= f.text_area :description, :rows => 5, :placeholder => "short description (in html)", :class => "text-field span4" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label"><h3>Web widget </h3></label>

            <div class="controls">
              Width= <%= f.text_field :iframe_width, :placeholder => "100%", :class => "text-field span1", :default => "100%" %>
              x
              Height= <%= f.text_field :iframe_height, :placeholder => "100%", :class => "text-field span1", :default => "100%" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">
              <h3><a style="float:right" href="#" class="icon-question-sign" rel="popover" data-content='Enter the crypted ID of a
                <a href="http://www.google.com/fusiontables/public/tour/index.html">google fusion table</a> containing
                the list of
                tasks to index <br/>This table should have at least a column representing somehow the Task ID ' data-original-title="Info">
              </a>Tasks Data</h3></label>

            <div class="controls">
              <p class="help-block">
                Enter the public link of the Google Fusion table containing
                the tasks.
<br/><a href="https://www.google.com/fusiontables/DataSource?dsrcid=implicit" target="_blank" >Create one table from from your data </a>. And don't forget to <a href="http://support.google.com/fusiontables/bin/answer.py?hl=en&answer=171221" target="_blank">make the table public</a> <br/>
              </p>

              <%= f.text_field :input_ft, :placeholder => "https://www.google.com/fusiontables/DataSource?docid=1pFY66e2r3ZMrimRuftMs4j-fvwvCOdKGSaHOmuA", :class => "text-field span5" %>
              

              <p class="help-block">
                Name of the column representing the task's ID
              </p>
              <%= f.text_field :task_column, :placeholder => "e.g. 1It3U5IJCOlk3MVyNUygG7NOWvLeNj8eWbIIYLGo", :class => "text-field span1" %>

            </div>
          </div>
          <div class="control-group">
            <label class="control-label">
              <h3><a style="float:left" href="#" class="icon-question-sign" rel="popover" data-content='Enter the crypted ID of a
                <a href="http://www.google.com/fusiontables/public/tour/index.html">google fusion table</a> to store the
                answers (Its structure should have at least these columns: task_id:number , user_id:string,
                created_id:date). If you let a blank we geneate a basic table for you that you have to customized afterward.' data-original-title="Info">
              </a>Answers Data</h3></label>

            <div class="controls">
              <p class="help-block">
                Enter the crypted ID of a
                Google Fusion table to store the
                answers. <br/>Let it blank to generate a table containing basic answers table you can modify later.<br/>

                <%= f.text_field :output_ft, :placeholder => "e.g. 1It3U5IJCOlk3MVyNUygG7NOWvLeNj8eWbIIYLGo", :class => "text-field span4" %>


            </div>


          </div>
          <div class="control-group">
            <label class="control-label">
              <h3>Redundancy</h3></label>

            <div class="controls">


              <p class="help-block">how many users should do the same task? <br/>Put '-1' for unlimited</p>
              <%= text_field_tag "app_redundancy", "3", :disabled => @disable_redundancy, :class => "span1", :placeholder => "3" %>
            </div>


          </div>


          <div class="row">
            <div class="span12">
              <div class="form-actions">
                <button class="btn btn-primary">Go to step 2 (add an UI code)</button>
              </div>
            </div>
          </div>
        </fieldset>
    <% end %>


  </div>
</div>

<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
<script type="text/javascript">
    $(function () {

        $('a[rel=popover]').popover({
            placement:'right',
            offset:5,
            html:true
        });

        $('#ft_input').change(function(){

        });
</script>

