<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<div class="container">
  <div class="row">
    <div class="span4">

      <p id="notice"><%= notice %></p>


      <h2><%= @app.name %></h2>
      <% if @app.user==current_user %>
          <div>
            <%= link_to 'Code Editor', editor_app_path(@app), :class => "btn btn-primary" %>
             <%= link_to 'Setting', edit_app_path(@app), :class => "btn " %>
            <%= link_to 'Delete', @app, confirm: 'Are you sure?', method: :delete, :class=>"btn btn-danger" %>
          </div>
      <% end %>

      <%= @app.description %>
      <hr/>



      <% completed, size=@app.completion %>
      <%= completed %> / <%= size %> answers.
      <div class="progress progress-info  progress-striped">
        <div class="bar" style="width: <%= completed.to_f/size.to_f*100 %>%;"></div>
      </div>
      <b> Last contributors</b>

      <ul style="padding: 0px;margin: 0; margin-top: 3px;">
        <% @app.contributors.order('users.updated_at desc').limit(5).each { |u| %>
            <li style="list-style-type: none;">
              <%= gravatar_image_tag(u.email, :title => u.username, :gravatar => {:default => :identicon, :size => 20}) %>
              contributed <%= time_ago_in_words(u.updated_at) %> ago
            </li>
        <% } %>
      </ul>
      <hr/>
      <h4>Data & Source code</h4>

      <p>
        The raw answers are regularly updated on the google fusion table. You can analyze and
        aggregate them yourself.
      </p>
      <a href="http://www.google.com/fusiontables/DataSource?docid=<%= @app.input_ft %>"> >> Task data</a>
      <br/> <a href="http://www.google.com/fusiontables/DataSource?docid=<%= @app.output_ft %>"> >> Answers data</a>
      <br/> <a href="#source" data-toggle="modal">>> Task template Code</a>



      <% if user_signed_in? && (@app.user==current_user) %>
          <hr/>
          <h4>Admin</h4>

      <% end %>
    </div>

    <div class="span8">
      <iframe width="100%" height="400" scrolling="no" frameborder="0" src="<%= app_url(@app, :embeddable => 1) %>"></iframe>
      <p>copy & paste this code to embed this micro-app in your own web site, blog.
        <textarea width="100%" rows="4" class="span8">
          <iframe width="100%" height="100%" frameborder="0" scrolling="no" src="<%= app_url(@app, :embeddable => 1) %>"></iframe>
        </textarea>
      </p>

      <div class="modal hide" id="source">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>

          <h3>Source code</h3>
        </div>
        <div class="modal-body">
        <pre class=" pre-scrollable">
          <%= h @app.script.chomp %></pre>
        </div>
        <div class="modal-footer">
          you can copy and transform this code to create your own micro-tasking project.
        </div>
      </div>
    </div>

  </div>
</div>
