<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<link href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>



<div class="container">
  <div class="row">
    <div class="span3">
      <p id="notice"><%= notice %></p>

      <h2><%= @app.name %></h2>

      <%= @app.description %>
      <hr/>
      <ul id="tab" class="nav nav-tabs">
        <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
        <li class=""><a href="#data" data-toggle="tab">Data</a></li>
        <li class=""><a href="#spread" data-toggle="tab">Share</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="activity">
          <% completed, size=@app.completion %>
          <%= completed %> answers / <%= size %> task units.
          <div class="progress progress-info  progress-striped">
            <div class="bar" style="width: <%= completed.to_f/size.to_f*100 %>%;"></div>
          </div>
          <b> Last contributors</b>

          <ul style="padding: 0px;margin: 0; margin-top: 3px;">
            <% @app.contributors.order('users.updated_at desc').limit(5).each { |u| %>
                <li style="list-style-type: none;">
                  <%= gravatar_image_tag(u.email, :title => u.username, :gravatar => {:default=> :identicon, :size => 20}) %>
                  contributed <%= time_ago_in_words(u.updated_at) %> ago
                </li>
            <% } %>
          </ul>
        </div>

        <div class="tab-pane" id="data">
          <p>
            The raw answers are regularly updated on the google fusion table. You can analyze and
            aggregate them yourself.
          </p>
          <a href="http://www.google.com/fusiontables/DataSource?docid=<%= @app.input_ft %>"> >> Task data</a>
          <br/> <a href="http://www.google.com/fusiontables/DataSource?docid=<%= @app.output_ft %>"> >> Answers data</a>
          <br/> <a href="#source" data-toggle="modal">>> Task template Code</a>

        </div>
        <div class="tab-pane" id="spread">
          <p>Embed this project on your own web site, blog or your friends' ones to increase its visibility.
            <textarea width="100%" rows="4">
              <iframe width="100%" height="100%" frameborder="0" scrolling="no" src="<%= app_url(@app, :embeddable=>1) %>"></iframe>
            </textarea>
          </p>
        </div>
      </div>
      <hr/>

    </div>

    <div class="span9">
      <iframe width="100%" height="500" scrolling="no" frameborder="0" src="<%= app_url(@app, :embeddable=>1) %>"></iframe>


      <div class="modal hide" id="source">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>

          <h3>Source code</h3>
        </div>
        <div class="modal-body">
        <pre class=" pre-scrollable">
          <%= h @app.script.chomp %></pre>
        </div>
        <div class="modal-footer">
          you can copy and transform this code to create your own micro-tasking project.
        </div>
      </div>
    </div>

  </div>
</div>
<script>
    $(function () {
        $('.tabs a:last').tab('show');
    })
</script>