<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<div class="container">
  <div class="row">
    <div class="span4">

      <p id="notice"><%= notice %></p>


      <h2><%= @app.name %></h2>
      <% if @app.user==current_user %>
          <div>
            <%= link_to 'Setting', edit_app_path(@app), :class => "btn " %>
            <%= link_to 'Delete', @app, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
          </div>
      <% end %>

      <%= @app.description %>
      <hr/>
      <h4>Activity</h4>


      <% completed, size=@app.completion %>
      <%= completed %> / <%= size %> answers.
      <div class="progress progress-info  progress-striped">
        <div class="bar" style="width: <%= completed.to_f/size.to_f*100 %>%;"></div>
      </div>
      Last contributors

      <ul style="padding: 0px;margin: 0; margin-top: 3px;">
        <% @app.contributors.order('users.updated_at desc').limit(5).each { |u| %>
            <li style="list-style-type: none;">
              <%= gravatar_image_tag(u.email, :title => u.username, :gravatar => {:default => :identicon, :size => 20}) %>
              contributed <%= time_ago_in_words(u.updated_at) %> ago
            </li>
        <% } %>
      </ul>
      <hr/>

      <h3>Data & Source code</h3>
      <br/>
      <ul class="unstyled">
        <li>
          <p><%= link_to 'Code Source Editor', editor_app_path(@app), :class => "btn btn-primary" %>
            <br/>
            <small>Edit on the fly the source code if you are its creator,  see & copy it for
              the others.
            </small>
          </p>
        </li>


        <li>
          <p><%= link_to 'Answers data', "http://www.google.com/fusiontables/DataSource?docid=#{@app.output_ft}", :class => "btn btn-success" %>
            <br/>
            <small>Analyze yourself the raw answers regularly updated to the google fusion table.</small>
          </p>
        </li>

        <li>
          <p><%= link_to 'Task data', "http://www.google.com/fusiontables/DataSource?docid=#{@app.input_ft}", :class => "btn btn-failure" %>
            <br/>
            <small>See the list of tasks from the google fusion table.</small>
          </p>
        </li>
      </ul>


      <% if user_signed_in? && (@app.user==current_user) %>
          <hr/>
          <h4>Admin</h4>

      <% end %>
    </div>

    <div class="span8">
      <iframe width="100%" height="400" scrolling="no" frameborder="0" src="<%= app_url(@app, :embeddable => 1) %>"></iframe>
      <p>copy & paste this code to embed this micro-app in your own web site, blog.
        <textarea width="100%" rows="4" class="span8">
          <iframe width="100%" height="100%" frameborder="0" scrolling="no" src="<%= app_url(@app, :embeddable => 1) %>"></iframe>
        </textarea>
      </p>


    </div>

  </div>
</div>
