<% @app_header = capture do %>
<ul class="nav">
    <li><a href="/apps">Explore apps</a></li>
     <li class="dropdown">
      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><%= @app.name[0..20] %> <b class="caret"></b></a>
      <%= render "app_menu" %>
    </li>
</ul>
<% end %>

<% content_for :menu_header, @app_header %>
<style>
  section{ margin-top:10px; }
</style>

<div class="container">
  <div class="row">
    <div class="span12">
        <% unless notice.blank? %>
        <div class="alert alert-block alert-success fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><%= notice %></p>
        </div>
      <% end %>
    <h3><%= @app.name %>   <% if @app.user == current_user %>
       <a href="<%= edit_app_path(@app) %>" class="btn btn-mini">setting</a>
        <%= link_to 'delete', @app, confirm: 'Are you sure?', method: :delete, :class => "btn btn-mini btn-danger" %>
      <% end %>
    </h3>

  </div>
  </div>
  <div class="row">
    <div class="span2">

      <section>
        <img src="<%= app_path(@app,:format=>"png") %>" width="100%" />
      </section>

      <section>
        <h4>challenges answered</h4>
        <% completion = @app.completion %>
        <% if completion[:total] == 0 %>
        No challenge indexed
        <% else %>
        <%= completion[:completed] %> / <%= completion[:total] %>
        <div class="progress progress-info  progress-striped">
          <div class="bar" style="width: <%= completion[:completed] *100/completion[:total] %>%;"></div>
        </div>
        <% end %>
      </section>

      <section>
        <h4>Last solvers</h4>
        <ul style="padding: 0px;margin: 0; margin-top: 3px;">
          <% @app.contributors.order('users.updated_at desc').limit(5).each { |u| %>
              <li style="list-style-type: none;">
                <%= gravatar_image_tag(u.email, :title => u.username, :gravatar => {:default => :identicon, :size => 30}) %>
            <%= time_ago_in_words(u.updated_at) %> ago
              </li>
          <% } %>
        </ul>
      </section>
    </div>
    <div class="span9">
     <% @button_size = "btn-mini" %>
     <%= render "shared/menu.html" %>
     <iframe scrolling="no" src="<%= app_url(@app) %>" style="width:<%= @app.iframe_width %>;height:<%= @app.iframe_height %>;padding:0;border:1px solid black"></iframe>
    </div>
  </div>
</div>

<script type='text/javascript' src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
<script type='text/javascript' src='http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js'></script>
<script type="text/javascript">
    $(function () {
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $("a[rel=div]").click(function (e) {
            e.preventDefault();
            $($(this).attr("href")).toggle();
        });
         $(".alert").alert();
    });
</script>