<!DOCTYPE html>
<html>
<head>
  <title>MechanicalMap</title>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="brand" href="/">Mechanical Maps</a>

      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Browse Projects", apps_path %></li>
        </ul>
      </div>

      <div class="nav pull-right" style="margin-right:0px;">
        <ul class="nav">
          <% if user_signed_in? %>
              <li><a href="#" style="color:white;font-weight: bold;"><%= current_user.username %></a></li>
              <li>  <%= link_to "Sign out", destroy_user_session_path, :method => :delete  %> </li>
          <% else %>
              <li><a href="#" style="color:white;font-weight: bold;"><%= current_or_guest_user.username[0..10] %></a></li>
              <li><%= link_to "Sign in", new_user_session_path  %> </li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
