<!DOCTYPE html>
<html>
<head>
  <title>VolatileTask</title>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<div class="navbar navbar-fixed-top active">
  <div class="navbar-inner">
    <div class="container" >
   <a class="brand" href="/">VolatileTask</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Apps", apps_path %></li>
          <%=  yield(:app_header)  %>
        </ul>

      </div>

      <div class="nav pull-right" style="margin-right:0px;">
        <ul class="nav">
          <% if user_signed_in? %>
              <li><a href="#" style="color:white;font-weight: bold;"><%= current_user.username %></a></li>
              </ul>
             <%= link_to "Sign out", destroy_user_session_path, :method => :delete , :class=>"btn btn-small btn-primary" %>
          <% else %>
              <li><a href="#" style="color:white;"><%= current_or_guest_username %></a>  </li>
              </ul>
              <%= link_to "Sign in", new_user_session_path, :class=>"btn btn-small btn-primary"  %>
          <% end %>
      </div>
      <%=  yield(:header)  %>
      
    </div>
  </div>
</div>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
